body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  background-image: linear-gradient(to bottom, #f7fafd 0%, white 19.4%);
}

section p {
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  color: #4b5d68;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  body {
    text-align: center;
  }
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

h1,
h2 {
  color: #212354;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  h1,
h2 {
    font-size: 2.625em;
  }
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

h5 {
  font-weight: 700;
}

h5,
p {
  font-size: 1.125em;
}

p {
  color: #4b5d68;
  line-height: 160%;
}

.nav-item.active .nav-link {
  color: #212354;
}

.btn-secondary {
  color: #4b5d68;
}

.nav-item.active .nav-link,
.btn {
  font-weight: 700;
}

.feature p {
  font-size: 1em;
  color: #4b5d68;
}

.testimonial .job {
  font-size: 0.875em;
}

.testimonial .card-text {
  font-weight: 500;
}

.footer h5,
.footer address,
.footer .nav-link {
  font-size: 0.875em;
}

.footer small {
  font-size: 0.75em;
}

/* Avenir font-face */
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/AvenirLTStd-Roman_1.woff"), url("../fonts/avenir/AvenirLTStd-Roman_1.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff2");
  font-weight: 700;
}
/* Helvetica font-face */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/helvetica-webfont.woff"), url("../fonts/helvetica/helvetica-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/helvetica-bold-webfont.woff"), url("../fonts/helvetica/helvetica-bold-webfont.woff2");
  font-weight: 700;
}
/* Header */
.header .btn-secondary {
  margin-top: 28px;
}

@media screen and (min-width: 992px) {
  .header {
    margin-top: 50px;
  }
  .header .navbar-nav {
    margin-left: 121px;
  }
  .header .nav-item {
    margin-right: 40px;
  }
  .header .btn-secondary {
    margin-top: 0;
  }
}
.intro {
  margin-top: 80px;
  overflow-x: hidden;
}
.intro h1 {
  margin-top: 20px;
}
.intro img {
  width: 100%;
}
.intro .intro-content {
  position: relative;
  z-index: 1;
}
.intro .btn-primary {
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 992px) {
  .intro {
    margin-top: 130px;
    overflow-x: hidden;
  }
  .intro h1 {
    margin-top: 0;
  }
  .intro p {
    padding-right: 40%;
    margin: 50px auto;
  }
  .intro img {
    width: auto;
    margin-top: 96px;
    margin-left: -344px;
  }
  .intro .btn-primary {
    width: 170px;
    margin-top: 0;
  }
}
.about {
  margin-top: 100px;
}
.about .container {
  background: rgba(239, 97, 183, 0.15);
  padding: 30px 12px;
  border-radius: 50px;
  overflow-x: hidden;
}
@media screen and (min-width: 992px) {
  .about .content {
    padding-right: 90px;
  }
}

.features {
  margin-top: 150px;
}
.features .title p {
  margin-top: 30px;
}
.features .row:nth-child(2) {
  margin-top: 70px;
}
.features .feature {
  padding-top: 50px;
  padding-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .features .title p {
    width: 584px;
    margin: 50px auto;
  }
  .features .feature {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }
  .features .feature:nth-child(1) {
    background-image: url(../img/bg-search-data.svg);
  }
  .features .feature:nth-child(2) {
    background-image: url(../img/bg-24-hours-access.svg);
  }
  .features .feature:nth-child(3) {
    background-image: url(../img/bg-print-out.svg);
  }
  .features .feature:nth-child(4) {
    background-image: url(../img/bg-security-code.svg);
  }
  .features .btn {
    padding-left: 0;
  }
}

.testimonials {
  margin-top: 150px;
}
.testimonials .container {
  background: #9c69e2;
  border-radius: 50px;
  padding: 80px 40px 60px;
}
.testimonials h2 {
  color: white;
}
.testimonials .slider {
  margin: 88px auto 60px;
}
.testimonials .testimonial {
  box-shadow: 0 20px 0 rgba(156, 105, 226, 0.3);
}
.testimonials .testimonial .card {
  border-radius: 20px;
  padding: 40px 15px 30px;
}
.testimonials .testimonial .card-img img {
  width: 90px;
  margin: auto;
}
.testimonials .testimonial .card-title {
  margin-bottom: 4px;
}
.testimonials .testimonial .job {
  margin-top: 0;
}
.testimonials .testimonial .card-text {
  color: #4b5d68;
  line-height: 180%;
}
.testimonials .slider-indicators {
  display: flex;
  align-items: center;
}
.testimonials .slider-indicators li {
  width: 5px;
  height: 5px;
  background: white;
  margin-right: 10px;
  border-radius: 50%;
}
.testimonials .slider-indicators li.active {
  width: 10px;
  height: 10px;
  background: #ef61b7;
}
@media screen and (min-width: 992px) {
  .testimonials .container {
    padding: 108px 60px 92px;
  }
  .testimonials .testimonial .card {
    width: 645px;
    padding: 60px 70px 50px;
    display: flex;
    flex-direction: row;
  }
  .testimonials .testimonial .card-img {
    width: auto;
  }
}

.banner {
  margin-top: 150px;
  border-top: 2px solid #e8e1f9;
  padding-top: 100px;
  padding-bottom: 100px;
}
.banner h2 {
  margin-bottom: 0;
}
.banner .btn-primary {
  background: #ef61b7;
}
.banner .btn-primary:hover {
  background: #eb33a1;
}
@media screen and (max-width: 992px) {
  .banner .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer .logo,
.footer h5 {
  margin-bottom: 30px;
}
.footer .nav-link {
  color: #212354;
}
.footer .nav-link:hover {
  text-decoration: underline;
}
.footer .social-media {
  display: flex;
}
.footer .social-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  background: #e8e8ed;
  text-align: center;
  border-radius: 50%;
  margin-right: 14px;
  transition: 0.4s;
}
.footer .social-media a:hover {
  background: #ef61b7;
}
.footer .copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .footer a.nav-link {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .footer h5 {
    margin-bottom: 20px;
  }
  .footer .social-media {
    justify-content: center;
  }
  .footer .copyright {
    display: block;
    margin-top: 40px;
  }
}

.btn {
  padding: 0.625em 1.8125em;
  border-radius: 50px;
}
@media screen and (min-width: 992px) {
  .btn {
    padding: 1.0625em 1.8125em;
    border-radius: 50px;
  }
}

.btn img {
  margin-top: -4px;
  margin-left: 20px;
}

.btn-primary {
  background: #9c69e2;
  border: none;
  color: white;
  transition: 0.4s;
}
.btn-primary:hover {
  background: #7f3eda;
}

.btn-secondary {
  background: white;
  border: none;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  transition: 0.4s;
}
.btn-secondary:hover {
  background: white;
  box-shadow: none;
  color: #212354;
}

.messenger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.messenger a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #e8e8ed;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .messenger {
    bottom: 40px;
    right: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
