@keyframes wave {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.owl-carousel {
  margin: 88px auto 60px;
}
.owl-carousel .owl-stage-outer {
  margin-bottom: 60px;
}
.owl-carousel .owl-item {
  box-shadow: 0 20px 0 rgba(156, 105, 226, 0.3);
}
.owl-carousel .owl-dots {
  align-items: center;
  display: flex;
}
.owl-carousel .owl-dots .owl-dot {
  transition: all 0.4s ease-in-out;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 5px;
  margin: 8px 10px;
  width: 5px;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #f063b8;
  transform: scale(2);
}
.owl-carousel .owl-prev img {
  transform: rotateZ(180deg);
}

body {
  background-image: linear-gradient(to bottom, #f7fafd 0%, white 19.4%);
}

section p {
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff2");
}
@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: url("../fonts/avenir/AvenirLTStd-Roman_1.woff"), url("../fonts/avenir/AvenirLTStd-Roman_1.woff2");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  src: url("../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff2");
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  src: url("../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff"), url("../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff2");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url("../fonts/avenir/helvetica-webfont.woff"), url("../fonts/avenir/helvetica-webfont.woff2");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url("../fonts/avenir/helvetica-bold-webfont.woff"), url("../fonts/avenir/helvetica-bold-webfont.woff2");
}
body {
  color: #4b5d68;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 992px) {
  body {
    text-align: left;
  }
}

h1,
h2 {
  color: #212353;
  font-family: "Helvetica", sans-serif;
  font-size: 2.625em;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }
}
h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h5,
p {
  font-size: 1.125em;
}

h5 {
  font-weight: 700;
}

p {
  color: #4b5d68;
  line-height: 160%;
}

.nav-item.active .nav-link {
  color: #212353;
}

.btn-secondary {
  color: #4b5d68;
}

.nav-item.active .nav-link,
.btn {
  font-weight: 700;
}

.feature p {
  color: #4b5d68;
  font-size: 1em;
}

.testimonial .job {
  font-size: 0.875em;
}

.testimonial .card-text {
  font-weight: 500;
}

.footer h5,
.footer address,
.footer .nav-link {
  font-size: 0.875em;
}

.footer small {
  font-size: 0.75em;
}

.header {
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .header .navbar-nav {
    margin-left: 121px;
  }
}
@media screen and (min-width: 992px) {
  .header .nav-item {
    margin-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .header .btn-secondary {
    margin-top: 0;
  }
}
.header .btn-secondary {
  margin-top: 28px;
}
@media screen and (min-width: 992px) {
  .header .btn-secondary {
    margin-top: 0;
  }
}

.intro {
  margin-top: 80px;
  overflow-x: hidden;
}
@media screen and (min-width: 992px) {
  .intro {
    margin-top: 130px;
    overflow-x: hidden;
  }
}
.intro h1 {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .intro h1 {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .intro p {
    margin: 50px auto;
    padding-right: 40%;
  }
}
.intro img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .intro img {
    margin-left: -344px;
    margin-top: 96px;
    width: auto;
  }
}
.intro .intro-content {
  position: relative;
  z-index: 1;
}
.intro .btn-primary {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .intro .btn-primary {
    margin-top: 0;
    width: 170px;
  }
}

.about {
  margin-top: 100px;
}
@media screen and (min-width: 992px) {
  .about .content {
    padding-right: 90px;
  }
}
.about .container {
  background: rgba(239, 97, 183, 0.15);
  border-radius: 50px;
  overflow-x: hidden;
  padding: 30px 12px;
}

.features {
  margin-top: 150px;
}
.features .title p {
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .features .title p {
    margin: 50px auto;
    width: 584px;
  }
}
.features .row:nth-child(2) {
  margin-top: 70px;
}
.features .feature {
  padding-bottom: 30px;
  padding-top: 50px;
}
@media screen and (min-width: 992px) {
  .features .feature {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .features .feature:nth-child(1) {
    background-image: url("../img/bg-search-data.svg");
  }
  .features .feature:nth-child(2) {
    background-image: url("../img/bg-24-hours-access.svg");
  }
  .features .feature:nth-child(3) {
    background-image: url("../img/bg-print-out.svg");
  }
  .features .feature:nth-child(4) {
    background-image: url("../img/bg-security-code.svg");
  }
}
@media screen and (min-width: 992px) {
  .features .btn {
    padding-left: 0;
  }
}

.testimonials {
  margin-top: 150px;
}
.testimonials .container {
  background: #9c69e2;
  border-radius: 50px;
  padding: 80px 40px 60px;
}
@media screen and (min-width: 992px) {
  .testimonials .container {
    padding: 108px 60px 92px;
  }
}
.testimonials h2 {
  color: #fff;
}
.testimonials .card {
  border-radius: 20px;
  padding: 40px 15px 30px;
}
@media screen and (min-width: 992px) {
  .testimonials .card {
    display: flex;
    flex-direction: row;
    padding: 60px 70px 50px;
    width: 645px;
  }
}
@media screen and (min-width: 992px) {
  .testimonials .card-img {
    width: auto;
  }
}
.testimonials .card-img img {
  margin: auto;
  width: 90px;
}
.testimonials .card-title {
  margin-bottom: 4px;
}
.testimonials .job {
  margin-top: 0;
}
.testimonials .card-text {
  color: #4b5d68;
  line-height: 180%;
}

.banner {
  border-top: 2px solid #e8e1f9;
  margin-top: 150px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.banner h2 {
  margin-bottom: 0;
}
.banner .btn {
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .banner .btn {
    margin-bottom: 0;
    width: auto;
  }
}
.banner .btn-primary {
  background: #f063b8;
}
.banner .btn-primary:hover {
  background: #eb33a1;
}

.footer h5,
.footer .logo {
  margin-bottom: 30px;
}
.footer .nav-link {
  color: #212353;
}
@media screen and (min-width: 992px) {
  .footer .nav-link {
    padding-left: 0;
  }
}
.footer .nav-link:hover {
  text-decoration: underline;
}
.footer .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .footer .social-media {
    justify-content: start;
  }
}
.footer .social-media a {
  transition: all 0.4s ease-in-out;
  background: #e8e8ed;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  line-height: 45px;
  margin-right: 14px;
  text-align: center;
  width: 50px;
}
.footer .social-media a:hover {
  background: #f063b8;
}
.footer .copyright {
  display: block;
  margin-top: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .footer .copyright {
    display: block;
    margin-top: 0;
  }
}

.btn {
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  padding: 0.625em 1.8125em;
}
@media screen and (min-width: 992px) {
  .btn {
    border-radius: 50px;
    padding: 1.0625em 1.8125em;
  }
}
.btn img {
  transition: all 0.4s ease-in-out;
  margin-left: 20px;
  margin-top: -4px;
}

.btn:hover img {
  transform: translateX(5px);
}

.btn-primary {
  background: #9c69e2;
  border: 0;
  color: #fff;
}

.btn-primary:hover {
  background: #7f3eda;
}

.btn-secondary {
  background: #fff;
  border: 0;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
}

.btn-secondary:hover {
  background: #fff;
  color: #212353;
}

.messenger {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .messenger {
    bottom: 40px;
    right: 40px;
  }
}
.messenger a {
  align-items: center;
  background: #e8e8ed;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(156, 105, 226, 0.15);
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.messenger::after {
  bottom: auto;
  left: 0;
  position: absolute;
  right: auto;
  top: 0;
  animation: wave 1.5s infinite linear;
  border: 1px solid #9c69e2;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
