body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  background-image: linear-gradient(to bottom, hsl(206, 64, 98) 0%, hsl(206, 64, 100) 19.4%);
}

section p {
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}