.btn {
  padding: 0.625em 1.8125em;
  border-radius: 50px;

  @media screen and (min-width: 992px) {
    padding: 1.0625em 1.8125em;
    border-radius: 50px;
  }
}

.btn img {
  margin-top: -4px;
  margin-left: 20px;
}

.btn-primary {
  background: $purple;
  border: none;
  color: $white;

  &:hover {
    background: hsl(265, 68%, 65%, 90%);
  }
}

.btn-secondary {
  background: $white;
  border: none;
  box-shadow: 0 5px 5px hsla(202, 16, 35, 10%);
  transition: .4s;

  &:hover {
    background: $white;
    box-shadow: none;
    color: $majestic-blue-dark;
  }
}