@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff'),
       url('../fonts/avenir/avenir-book-opentype_bigfontsite.com-webfont.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff'),
       url('../fonts/avenir/avenir-medium-opentype_bigfontsite.com-webfont.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff'),
       url('../fonts/avenir/avenir-heavy-opentype_bigfontsite.com-webfont.woff2');
  font-weight: 600;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
}

