.btn {
  border-radius: 50px;
  padding: 0.625em 1.8125em;
  @include transition-ease;

  @include media-lg {
    border-radius: 50px;
    padding: 1.0625em 1.8125em;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }
}

.btn img {
  margin-left: 20px;
  margin-top: -4px;
  @include transition-ease;
}

.btn-primary {
  background: $purple;
  border: none;
  color: $white;

  &:hover {
    background: hsl(265, 68%, 55%);
  }
}

.btn-secondary {
  background: $white;
  border: none;
  box-shadow: 0 5px 5px hsla(202, 16, 35, 10%);

  &:hover {
    background: $white;
    color: $majestic-blue-dark;
  }
}