.btn {
  @include transition-ease;
  border-radius: 50px;
  padding: 0.625em 1.8125em;

  @include media-lg {
    border-radius: 50px;
    padding: 1.0625em 1.8125em;
  }

  img {
    @include transition-ease;
    margin-left: 20px;
    margin-top: -4px;
  }
}

.btn:hover {
  img {
    transform: translateX(5px);
  }
}

.btn-primary {
  background: $purple;
  border: 0;
  color: $white;
}

.btn-primary:hover {
  background: hsl(265, 68%, 55%);
}

.btn-secondary {
  background: $white;
  border: 0;
  box-shadow: 0 5px 5px hsla(202, 16, 35, 10%);
}

.btn-secondary:hover {
  background: $white;
  color: $majestic-blue-dark;
}
