.messenger {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 10;

  @include media-lg {
    bottom: 40px;
    right: 40px;
  }

  a {
    align-items: center;
    background: hsl(240, 13%, 92%);
    border-radius: 50%;
    box-shadow: 0 8px 24px hsla(265, 68%, 65%, 15%);
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
  }
}

.messenger::after {
  animation: wave 1.5s infinite linear;
  border: 1px solid $purple;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
