body {
  color: $majestic-blue;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  @include media-lg {
    text-align: left;
  }
}

h1,
h2 {
  color: $majestic-blue-dark;
  font-family: $secondary-font;
  font-size: 2.625em;
  font-weight: 700;
}

@include media-lg {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }
}

h3 {
  font-family: $secondary-font;
  font-size: 1.5em;
  font-weight: 400;
}

h5,
p {
  font-size: 1.125em;
}

h5 {
  font-weight: 700;
}

p {
  color: $majestic-blue;
  line-height: 160%;
}

.nav-item.active .nav-link {
  color: $majestic-blue-dark;
}

.btn-secondary {
  color: $majestic-blue;
}

.nav-item.active .nav-link,
.btn {
  font-weight: 700;
}

.feature p {
  color: $majestic-blue;
  font-size: 1em;
}

.testimonial .job {
  font-size: 0.875em;
}

.testimonial .card-text {
  font-weight: 500;
}

.footer h5,
.footer address,
.footer .nav-link {
  font-size: 0.875em;
}

.footer small {
  font-size: 0.75em;
}
