.header {
  margin-top: 50px;

  .navbar-nav {
    @include breakpoint(desktop) {
      margin-left: 121px;
    }
  }

  .nav-item {
    @include breakpoint(desktop) {
      margin-right: 40px;
    }
  }

  .btn-secondary {
    @include breakpoint(desktop) {
      margin-top: 0;
    }
  }

  .btn-secondary {
    margin-top: 28px;

    @include breakpoint(desktop) {
      margin-top: 0;
    }
  }
}
